img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  background-color: #324357;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main {
  margin: 25vh 6vw;
  padding: 2vh 4vw;
  background-color: white;
  border-radius: 5px;
}

#zegana{
  text-align: center;
  font-size: 2.5em;
  color: #00966e;
}

#subtitle{
  font-size: 1em;
  text-align: center;
  color: #666;
}

.btn {
  width: 60%;
  margin: 5px 20%;

}

.invalidField {
  color: red;
}

#signup{
  margin-top: 3%;
  background-color: #37c582;
  color: white;
  border-color: #324357;
}

#signup:hover{
  background-color: #2DF698;
  color: black;
  box-shadow: 5px 5px 3px #ccc;
}

#login{
  background-color: #324357;
  color: white;
  border-color: #37c880
}

#login:hover{
  background-color: #3f9cff;
  color: black;
  box-shadow: 5px 5px 3px #ccc;
}
