img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  background-color: #324357;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main {
  margin: 25vh 6vw;
  padding: 2vh 4vw;
  background-color: white;
  border-radius: 5px;
}

#zegana{
  text-align: center;
  font-size: 2.5em;
  color: #00966e;
}

#subtitle{
  font-size: 1em;
  text-align: center;
  color: #666;
}

.btn {
  width: 80%;
  margin: 2px 10%;

}

.invalidField {
  color: red;
}

#tryit{
  margin-top: 3%;
  background-color: #37c582;
  color: white;
  border-color: #324357;
}

#tryit:hover{
  background-color: #2DF698;
  color: black;
  box-shadow: 5px 5px 3px #ccc;
}

#signup{
  background-color: #324357;
  color: white;
  border-color: #37c880
}

#signup:hover{
  background-color: #3f9cff;
  color: black;
  box-shadow: 5px 5px 3px #ccc;
}

#login-main {
  font-size: 1em;
  color: #777;
  text-align: center;
  margin-top: 1%;

}

#login {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .main {
    margin: 25vh 25vw;
    padding: 4vh 2vw;
  }

  #zegana {
    font-size: 4em;
  }

  .btn {
    width: 40%;
    margin: 3px 30%;
  }

}