.comment-wrap{
    padding: 2% 3%;
    margin: 3% 0%;
    border-left: 3px solid #00966e;
    box-shadow: 5px 5px 5px #ddd;
}

.comment-header p{
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 0px;
}

.comment-author{
    color: #00966e;
    font-weight: bold;
}

.comment-content-wrap {
    margin: 4% 0%;
}

.comment-date {
    color: #999;
    padding: 0% 5%;
}

.comment-votes{
    color: #999;
}

.comment-footer {
    margin: 1% 0%;
}

.comment-footer p {
    margin-bottom: 1%;
}

.comment-subfooter{
    color: #999;
    display: inline-block;
    margin-right: 5%;
}

.comment-reply-submit{
    background-color: #00966e;
    border-color: #00966e;
    margin: 3% 0%;
}

.comment-replies{
    padding-left: 3%;
    border-left: 1px solid #ddd;
}

@media (min-width: 992px) {
    .comment-wrap {
        padding: 1% 2%;
        margin: 1% 0%;
    }

    .comment-content-wrap {
        margin: 1% 0%;
    }

    .comment-replies {
        padding-left: 1%;
    }

    #comment-reply {
        margin-bottom: 0%;
    }

    #comment-numreplies {
        margin-bottom: 0%;
    }

    .comment-footer p {
        font-size: 1.2em;
    }

    .comment-header p {
        font-size: 1.3em;
    }

    .comment-content-wrap .DraftEditor-root {
        font-size: 1.3em;
    }
}