.idea-slug-wrapper {
    margin: 5%;
}

.idea-slug-title{
    font-size: 1em;
    display: inline-block;
    margin-bottom: 1%;
}

.idea-slug-info{
    color: #999;
}

@media (min-width: 992px) {

    .idea-slug-wrapper {
        margin: 2% 5%;
    }

    .idea-slug-title {
        font-size: 1.2em;
    }
}