.idea-wrap {
    margin: 5%;
     
}

.idea-header {
    margin: 5%;
}

.idea-title {
    font-size: 1.25em;
}

hr {
    border-color: #00966e;
}

.idea-subtitle{
    color: #777;
    display: inline-block;
    margin: 0% 5% 0% 0%;
}

#idea-subtitle-second {
    margin-top: 3%;
}

#idea-subtitle-edit {
    background-color: #00966e;
    color: white;
    border-radius: 3px;
    padding: 1% 3%;
}

#idea-subtitle-delete {
    background-color: #ddd;
    color: #00966e;
    border-radius: 3px;
    padding: 1% 3%;
}

.idea-content{
    padding: 5%;
    background-color: white;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;   
    margin-bottom: 5%; 
    
}

.idea-content-title {
    font-size: 1.5em;
    color: #00966e;
    background-color: #ddd;
    padding: 3%;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.idea-footer {
    margin: 0% 5% 10% 5%;
}

.idea-footer-section {
    display: inline-block;
    margin-right: 5%;
}

.idea-newComment h1{
    color: #00966e;
    font-size: 1.5em;
}

.idea-newComment .editorWrap{
    border-color: #9dabb9;
}

.idea-newComment h1{
    font-size: 1.5em;
}

.idea-newComment{
    margin: 1% 5%;
}

.idea-comment-submit {
    margin: 3% 0%;
    background-color: #00966e;
    border-color: #00966e;
}

.idea-comments{
    margin: 2% 5%;
    font-size: 0.8em;
}

@media (min-width: 992px) {
    .idea-content-title {
        padding: 1%;
    }

    .idea-content {
        padding: 2%;
    }

    .idea-footer {
        margin-bottom: 3%;
    }

    .idea-newComment h1 {
        font-size: 2em;
    }

    .idea-content .DraftEditor-root {
        font-size: 1.1em
    }

}

