.container-fluid{
    padding: 0%;
}

<<<<<<< HEAD

#post-dropdown-toggle{
    color: #00966e;
    font-size: 1.2em;
}

=======
>>>>>>> b6040fe9ba6a894dcb595e6cc8ad287ddd71b9e5
.page-navigation span{
    display: inline-block;
    background-color: #00966e;
    border-radius: 3px;
    color: white;
    padding: 1% 0%;
    text-align: center;
    margin: 1% 5%;
    width: 25%;
}

#prev-button {
    float: left;
}

#center-info{
    width: 20%;
    color: black;
    background-color: white;
    text-align: center;
}

#center-info p{
    margin: 0%;
}

#next-button{
    float: right;
}